/* Ensure the page takes up the full viewport height */
body, html {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    height: 1200px;
}



/* Other existing styles */
.container-fluid {
    padding: 0;
}

.custom-link {
    color: white;
    text-decoration: none;
    font-size: 15pt;
}

.custom-link:hover {
    color: rgb(101, 184, 235);
    text-decoration: none;
}

.sign-in {
    color: white;
    text-decoration: none;
}

.sign-in:hover {
    color: rgb(101, 184, 235);
    text-decoration: none;
    cursor: pointer;
}

header {
    color: white;
    background-color: rgb(125, 175, 183);
    display: flex;
}

nav {
    height: 4em;
    background-color: rgb(84, 107, 134);
    border-bottom: 3px solid rgb(101, 184, 235);
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.verticlerule {
    color: white;
}

path {
    stroke: white;
    fill: paleturquoise !important;
    transition: fill .4s ease;
    transform-origin: center center;
}

path:hover {
    fill: orange !important;
    cursor: pointer;
    transform: scale(1.005, 1.005);
}

/* #map-container {
    display: flex;
    justify-content: center;
    align-items: center;
} */

#svg-wrapper {
    position: relative;
    height: 1500px; 
}

#us-map {
    position: absolute;
    top: 300px;
    width: 100%;
    height: 100%;
}

footer {
    color: white;
    background-color: rgb(84, 107, 134);
    height: 1.5em;
    border-top: 3px solid rgb(101, 184, 235);
}

/* #us-map {
    display: block;
    position: absolute;
    top: 0;
    margin-top: 300px;
    left: 0;
    width: 100%;
    height: 100%;
} */

#details-box {
    box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.7);
    opacity: 0%;
    padding: 1rem;
    border-radius: 8px;
    font-size: 24px;
    position: fixed;
    color: white;
    font-family: "Poppins";
    background-color: black;
    width: fit-content;
    transform: translateX(-50%);
    transition: opacity .4s ease;
    z-index: 1;
}
