@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    background-color: rgb(123, 141, 144);
}

header {
    display: flex;
    vertical-align: middle;
    background-color: rgb(109, 119, 121);
    text-align: center;
    color: azure;
    align-items: center;
    font-size: 15pt;
    font-weight: 600;
    font-family: "Archivo", sans-serif;
    padding: 1.5em;
    justify-content: space-between;
    border: none;
    box-shadow: 10px 0px 10px 10px rgba(15, 241, 251, .25)
}

header > h1 {
    margin-left: 1em;
}

header > i {
    margin-right: 1em;
}

h2 {
    margin-left: 1em;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.account-click {
    text-decoration: none;
}

.account {
    border-top-left-radius: 20px;
    display: flex;
    background-color: rgb(147, 164, 167);
    padding: 10px;
    color: azure;
    align-items: center;
    border-bottom: 4px solid rgb(62, 190, 199);
    margin-bottom: 10px;
    margin-left: 1em;
    margin-right: 1em;
    justify-content: space-between;
}

.account:hover {
    background-color: lightgray;
}

.label {
    text-align: right;
    padding-right: 10px;
    margin-bottom: 5px;
}

label {
   font-weight: bold;
}

input[type=text] {width: 80px;}

.left-align {
    margin-left: 1em;
}

.right-align {
    margin-right: 1em;
}

.error {color: red;}

.accountInner {
    margin-left:10px;margin-top:10px;
}

.hidden {
    display: none;
    overflow: none;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    flex: 1;
    font-size: 15pt;
    transform: translate(-50%, -50%);
    background-color: rgb(132, 152, 161);
    padding: 50px;
    box-shadow: 12px 12px 10px 10px rgba(36, 36, 36, 0.25);
    border: 0;
    justify-content: center;
    align-items: center;
    border-radius: 10px; 
    color: white;
    text-align: center;
    flex-direction: column;
    border-right: 2px solid rgb(132, 205, 240);
    border-bottom: 2px solid rgb(132, 205, 240);
}

input[type="number"], input[type="text"] {
    padding: 0px;
    font-family:'Courier New', Courier, monospace;
    font-size: inherit;
    margin: .5em;
    text-align: center;
    width: 200px;
    height: 30px;
    border: 0;
    box-shadow: none;
}

.button {
    background-color: white;
    border-radius: 5px;
    margin-top: .5em;
    border: 0;
    padding: .25em;
    font-size: inherit;
    font-family: 'Courier New', Courier, monospace;
}

.button:hover {
    cursor: pointer;
}

/*SELECT BUTTON*/

/* The container must be positioned relative: */
.custom-select {
    position: relative;
    left: 50%;
    margin-bottom: .5em;
    transform: translateX(-50%);
    font-family: Arial;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: rgb(115, 204, 130);
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: rgb(115, 204, 130);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

  #corner {
    position: relative;
    transform: translate(60%, -150%);
    margin: 0;
    padding: 0;
    color: red;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-shadow: rgba(0, 0, 0, 0.2) 2px 2px;
  }

  #corner:hover {
    color: rgb(175, 28, 28);
    cursor: pointer;
  }

  .transaction {
    border-top-left-radius: 20px;
    font-family: "Archivo", sans-serif;
    font-weight: 100;
    display: flex;
    color: azure;
    margin: 0;
    padding: 0;
    background-color: rgb(147, 164, 167);
    border-bottom: 4px solid rgb(62, 190, 199);
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .transaction-right {
    margin-right: 2em; 
    color: inherit;
    text-align: right;
  }

  .transaction-left {
    margin-left: 2em; 
    color: inherit;
    text-align: left;
  }

  .transaction-balance {
    color: rgb(73, 222, 232);
  }

  .transaction-desc {
    text-decoration: underline;
    color: inherit;
  }

  #transactions {
    margin: 0;
    padding: 0;
    flex: 1;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  #openPopup {
    background-color: rgb(147, 164, 167);
    padding: 10px;
    border-radius: 30px;
  }

  #openPopup:hover {
    cursor: pointer;
    color: rgb(73, 222, 232);
  }

  .link-undo {
    color: azure;
    margin-right: 2em;
  }

  .link-undo:hover {
    color: rgb(73, 222, 232);
  }