@page
@model IndexModel
@{
    ViewData["Title"] = "Redox - Support";
}

<div class="text-center">
    <h1 class="display-4">Redox Support</h1>
    <p>To submit a refund request, click the button below:</p>
    <form method="post">
        <input type="submit" class="btn btn-primary" value="Refund Form" />
    </form>
    <p>For all other assistance, please call our 24 hour helpline at <b>1(800)RED-HELP [1(800)733-4357]</b></p>
</div>
